# Temporary and binary files
*~
*.py[cod]
*.so
__pycache__/
.cache/
*.egg-info
.pytest_cache

# Build and docs
build/
dist/
docs/_build/

# Virtual environments
.venv*/
.python-version

# Test outputs
*.log

# Tools
my_tools/
trace_comment.py
*.png
*.svg

corpus_v0/
data_v0/
data/
corpus/all_comments.pdf
corpus/all_comments.md
corpus/paper.pdf
